@model SpotifyMVC.Models.Album

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Album Details";
}

<div class="album-details text-center">
    <h1>@Model.Name</h1>
    <div class="album-info">
        <img src="@Model.Images.FirstOrDefault()?.Url" alt="Album Cover" class="album-cover" />
        <h3>@string.Join(", ", Model.Artists.Select(a => a.Name))</h3>
        <p>Release Date: @Model.ReleaseDate</p>
    </div>

    <div class="album-songs mt-4">
        <h2>Artists</h2>
        <ul class="song-list">
            @foreach (var artist in Model.Artists)
            {
            <li><a href="@artist.ExternalUrls.Spotify">@artist.Name</a></li>
            }
        </ul>
    </div>
</div>

<style>
    .album-details {
        padding: 40px;
        background: linear-gradient(145deg, #212121, #323232);
        border-radius: 15px;
        color: var(--text-color);
    }

    .album-info {
        margin-top: 20px;
        text-align: center;
    }


    .album-cover {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
    }

    .album-songs {
        margin-top: 30px;
    }

    .song-list {
        list-style-type: none;
        padding: 0;
    }

        .song-list li {
            margin-bottom: 10px;
        }
</style>


